*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin-bottom: 10px;
    font-size: 18px;
}
/*admin dashboard*/
.header-content{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0F766E;
}

.logo{
    font-family: cursive;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.nav-content{
    display: flex;
    gap: 40px;
}

.nav-content a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.nav-content a:hover{
    transform: scale(1.2);
}

.logout{
    font-weight: bold;
}

/*footer*/
.footer{
    text-align: center;
    background: #0F766E;
    padding: 10px;
    margin-top: 20px;
    color: white;
}

.footer-text{
    font-size: 18px;
}

/*categories table*/
.category-container {
    padding: 20px 0 20px 40px; 
}

.category-heading {
    margin-bottom: 15px;
    color: #1f2937; /* dark gray */
    font-size: 20px;
}


.category-table {
    width: 80%; 
    border-collapse: separate; 
    border-spacing: 0 8px; 
    background-color: #f9fafb; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 8px;
}

.category-table th {
    padding: 12px 20px;
    text-align: left;
    background-color: #0F766E;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.category-table td {
    padding: 12px 20px;
    background-color: #ffffff; 
    text-align: left;
    font-size: 14px;
}

.category-table tr:hover td {
    background-color: #e0f2fe; 
}

.category-table tbody tr:nth-child(even) td {
    background-color: #f3f4f6; 
}

/*actions*/
.action-icons {
    display: flex;       
    gap: 12px;          
    align-items: center; 
}

.action-icons a {
    text-decoration: none;
    font-size: 16px;
}
.edit-btn {
    color: #2563eb;
}
.delete-btn {
    color: #dc2626;
}
/*add to cart*/
.add-to-cart{
    text-decoration: none;
    font-size: 16px;
    color: #2563eb;
}

/*place order*/
.place-order{
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    background: #3E918B;
}

.edit-btn{
    text-decoration: none;    
}