*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	margin-bottom: 10px;
	font-size: 18px;
}

.admin-form{
	width: 400px;
	margin: 50px auto;
	border: 1px solid black;
	padding: 10px 15px;
	border-radius: 6px;
}

.admin-details{
    display: flex;
    align-items: center;
	margin-bottom: 15px;
}

.admin-details label{
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.admin-details input, select{
	flex: 1;               
    padding: 6px;
   	border: 1px solid black;
   	border-radius: 8px;
   	outline: none;
}

.login-btn{
	text-align: center;
}

.btn{	   
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    background: #A5C89E;
}

/*admin dashboard*/
.header-content{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #97A87A;
}

.logo{
    font-family: cursive;
    font-size: 22px;
    cursor: pointer;
}

.nav-content{
    display: flex;
    gap: 40px;
}

.nav-content a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 0.3s ease;
}

.nav-content a:hover{
    transform: scale(1.2);
}

.logout{
    font-weight: bold;
}

/*footer*/
.footer{
	text-align: center;
	background: #97A87A;
	padding: 10px;
	margin-top: 20px;
}

.footer-text{
	font-size: 18px;
}

/*waiter login*/

.waiter-form{
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 6px;
}

.waiter-details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.waiter-details label{
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.waiter-details input{
    flex: 1;               
    padding: 6px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

.back-dashboard a{
    margin-left: 10px;
    text-decoration: none;
    padding: 6px 10px;
    background: green;
    border-radius: 6px;
    color: black;
}
/*category*/

.category-form{
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 6px;
}

.category-details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.category-details label{
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.category-details input{
    flex: 1;               
    padding: 6px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

.category-btn{
    text-align: center;
}

.category-btn button{      
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    background: #A5C89E;
}

/*categories table*/
.category-container {
    padding: 20px 0 20px 40px; 
}

.category-heading {
    margin-bottom: 15px;
    color: #1f2937; /* dark gray */
    font-size: 20px;
}


.category-table {
    width: 80%; 
    border-collapse: separate; 
    border-spacing: 0 8px; 
    background-color: #f9fafb; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 8px;
}

.category-table th {
    padding: 12px 20px;
    text-align: left;
    background-color: #1e293b;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.category-table td {
    padding: 12px 20px;
    background-color: #ffffff; 
    text-align: left;
    font-size: 14px;
}

.category-table tr:hover td {
    background-color: #e0f2fe; 
}

.category-table tbody tr:nth-child(even) td {
    background-color: #f3f4f6; 
}

/*actions*/
.action-icons {
    display: flex;       
    gap: 12px;          
    align-items: center; 
}

.action-icons a {
    text-decoration: none;
    font-size: 16px;
}
.edit-btn {
    color: #2563eb;
}
.delete-btn {
    color: #dc2626;
}


/*edit category*/
.edit-form{
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 6px;

}

.edit-details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.edit-details label{
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.edit-details input{
    flex: 1;               
    padding: 6px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

.edit-btn{
    text-align: center;
}

.edit-btn button{      
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    background: #A5C89E;
}

/*add menu*/
.add-menu-form{
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 6px;
}

.add-menu-details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.add-menu-details label{
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.add-menu-details input, select{
    flex: 1;               
    padding: 6px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

.add-menu-btn{
    text-align: center;
}

.add-menu-btn button{      
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    background: #A5C89E;
}
/*add to cart*/

.add-to-cart{
    text-decoration: none;
    font-size: 16px;
    color: #2563eb;
}